@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueo";
}

<div>
    <h1 class="text-danger">Acceso denegado</h1>
    <hr />
    <h2 class="text-danger">Su cuenta ha sido bloqueada.</h2>
</div>
