@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Acceso denegado</h1>
    <h2 class="text-danger">Su cuenta ha sido bloqueada.</h2>
</hgroup>
