#infoDetalles,
#infoPaisPartida,
#infoCiudadPartida,
#infoDireccionPartida,
#infoPaisDestino,
#infoCiudadDestino,
#infoDireccionDestino,
#infoFechaOferta,
#infoDescripcionMercaderia,
#infoRequiereExclusividad,
#infoMedidasCaja,
#infoTipoCaja,
#infoTipoCamion,
#infoITV,
#infoHabilitacionBromatologica,
#infoCosto,
#infoImagen,
#EditFechaOferta {
    background-color: lightgray;
    border-style: solid;
    border-width: thin;
    max-width: 1500px;
}

.fondoImagen{
    background-color:black;
}
#imagen {
    max-height: 20%;
    max-width: 70%;
    display: block;
    margin: auto;
}

small {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    display: block;
}

.saberMas {
    display: block;
    max-width: 280px;
}

.contacto {
    text-align: center;
}

