body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/fondoruta.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
}

td {
    border-left: solid 1px rgba(144, 144, 144, 0.5);
    padding-right: 25px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.semitransparente {
    background-color: rgba(255,255,255,0.8);
}

.btn {
    margin-top: 5px;
}

/*===========================outline=buttons===========================================================*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

    .btn-primary.btn-outline:hover,
    .btn-success.btn-outline:hover,
    .btn-info.btn-outline:hover,
    .btn-warning.btn-outline:hover,
    .btn-danger.btn-outline:hover {
        color: #FFFFFF;
    }

