@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title</h2>
<hr />

    <h5>Somos un grupo de emprendedores que </h5>
    <h5>vivió el problema desde adentro, te lo contamos...</h5>
<hr />
<div class="d-flex flex-wrap justify-content-center align-items-center">
    <aside>
        <img class="rounded-circle" width="240" height="350" alt="foto diego" src="~/Images/diego.jpg">
        <br />
        <b>Diego Olmedo</b>
    </aside>
    <aside style="margin-left:5px">
        <img class="rounded-circle" width="239" height="350" alt="foto bruno" src="~/Images/bruno.jpeg">
        <br />
        <b>Bruno Chiesa</b>
    </aside>
    <aside style="margin-left:5px">
        <img class="rounded-circle" width="350" height="350" alt="foto adrián" src="~/Images/borrarLuego.jpg">
        <br />
        <b>Adrián Rodríguez</b>
    </aside>
</div>
<hr />
<p class="text-justify">
    Uno de los socios principales de FLIP poseía un camión que usaba como flete y encontraba frecuentemente el problema de realizar tramos por el costo e incluso a pérdida, el mercado y algunos colegas nos ofrecían grupos de WhatsApp masivos para publicar y comunicar los tramos vacíos, pero encontrábamos problemas con el orden cronológico de las ofertas, de las fechas y la poca eficiencia en la comunicación. Esto motivó a nuestro socio a buscar una solución. Fue así que surgió la sociedad con dos programadores para desarrollar esta WEB. La idea y uno de nuestros leitmotive principal del emprendimiento es generar una comunidad que ayude a las partes y por eso la premisa que el servicio sea GRATIS.
    <br />
    <br />
    Hoy día el equipo esta compuesto por tres personas y dividimos nuestro emprendimientos en 4 áreas Administración , Atención al cliente, Tecnología y Logística.
</p>

