
@model FlipWeb.Domain.Reporte
@{
    ViewBag.Title = "DenunciarOferta";
}
<p class="text-danger" style="max-width:500px">@TempData["mensaje"]</p>
<h2>Cerrar reporte</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>Resolución</h3>

    @Html.TextAreaFor(model => model.Resolucion, new { @class = "form-control" })

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Cerrar" , class="btn btn-success" />
        @Html.ActionLink("Cancelar", "MenuUsuarios", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
    </div>
}
