@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<hr />
<h5>Puedes contactarte con nosotros mediante nuestras redes sociales</h5>
<br />
<div class="d-flex flex-wrap">
    <a href="https://www.facebook.com">
        <img border="0" width="150" height="150" alt="Flip" src="~/Images/FacebookLogo.png">
    </a>
    <a href="https://www.instagram.com">
        <img style="margin-left:25px" border="0" width="150" height="150" alt="Flip" src="~/Images/InstagramLogo.png">
    </a>
    <a href="https://twitter.com">
        <img style="margin-left:25px" border="0" width="150" height="150" alt="Flip" src="~/Images/TwitterLogo.png">
    </a>
</div>

<hr />
<h5>También puedes enviarnos un correo electrónico a las siguientes direcciones</h5>
<address>
    <strong>Administración:</strong>   <a href="mailto:administracion@flipsas.com">administracion@ejemplo.com</a><br />
    <strong>Atención al cliente:</strong> <a href="mailto:soporte@flipsas.com">soporte@ejemplo.com</a><br />
    <strong>Tecnología:</strong>   <a href="mailto:tech@flipsas.com">tech@flipsas.com</a><br />
    <strong>Logística:</strong>   <a href="mailto:logistica@flipssas.com">logistica@flipssas.com</a><br />
</address>