@model int
@Styles.Render("~/Content/FlipStyleSheet.css")
@{
    ViewBag.Title = "Dar de baja oferta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dar de baja oferta</h2>
<hr />
<h6>Lo oferta pasará a figurar como reportada y no aparecerá en ningún listado.</h6>

<div class="row col-md-offset-2 col-md-10">
    @Html.ActionLink("Dar de baja", "DarDeBajaOfertaConfirmado", "Home", routeValues: new { idOferta = Model }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
    <input class="btn btn-danger" type='button' onclick='history.back();' value='Cancelar' />
</div>
