@model FlipWeb.Models.BloquearUsuarioViewModel
@{
    ViewBag.Title = "DesbloquearUsuario";
}

<h2>¿Está seguro que desea desbloquear el usuario?</h2>

<h5>Al desbloquear el usuario, este podrá acceder nuevamente a la aplicación.</h5>

@using (Html.BeginForm("DesbloquearUsuarioConfirmado", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Desbloquear" , class="btn btn-success" />
    @Html.ActionLink("Cancelar", "DetailsUsers", "Home", routeValues: new { id = Model.UsuarioId }, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
</div>
}
