@model string

<h2>¿Desea desbloquear usuario</h2>


<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Si. Desbloquear.", "DesbloquearUsuarioConfirmado", "Home", routeValues: new { idUsuario = Model }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
    <input class="btn btn-danger" type='button' onclick='history.back();' value='Cancelar.' />
</div>