@{
    ViewBag.Title = "Error";
}

<h2 style="color:red;">Error :(</h2>
<div>
    <p class="text-danger" style="max-width:400px">@TempData["mensajeError"]</p>
    <h3>Se recomienda reportar o ponerse en contacto con Administrador.</h3>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}