@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<div>
    <h1 style="color:red;">Error.</h1>
    <h2>Se recomienda reportar o ponerse en contacto con Administrador</h2>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}