@model int
@{
    ViewBag.Title = "FinalizarOferta";
}

<h2>¿Desea finalizar su oferta?</h2>

<h4>Lo oferta pasará a figurar como finalizada y no aparecerá en ningún listado con excepción de su historial de ofertas publicadas.</h4>

<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Si. Deseo finalizar mi oferta.", "FinalizarOfertaConfirmado", "Home", routeValues: new { idOferta = Model}, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
    @Html.ActionLink("No. Cambié de parecer. Cancelar.", "VolverADetallesOfertaPropia", "Home", routeValues: new { idOferta = Model }, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
</div>
